body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Cormorant', serif;
    background: #EDEC94;
    color: #fff;
}
h1{
    text-align: center;
}
.logo {
    width: 12%;
    height: 12%;
}

p {
    font-size: 20px;
    line-height: 33px !important;
    color: #fff
}

.small {
    letter-spacing: 0.5px !important
}

.card {
    box-shadow: 0px 5px 16px rgba(223, 241, 223, 0.5);
    transition: 0.8s;
    background: #333;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 7px !important
}

.card-header,
.card-footer {
    border-radius: 7px !important
}

.card:after {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    z-index: 9999;
    height: 100%;
    pointer-events: none
}

.card-title img {
    z-index: 99999 !important
}

.card .layer {
    position: absolute;
    top: calc(100% - 5px);
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    left: 0;
    z-index: 1;
    transition: 0.5s
}

.card:hover {
    box-shadow: -5px 50px 100px rgba(223, 241, 223, 0.5)
}

.card:hover hr {
    background-color: #fff
}

.card:hover h4 {
   font-weight: 600
}

.card:hover p {
   font-weight: 600
}

.card:hover small {
    font-weight: 600
}

.card:hover .layer {
    top: 0
}

.card .content {
    position: relative;
    z-index: 2
}

.card .content .img-1 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white !important
}

.card h4 {
    color: #fff;
   font-weight: 500
}

hr {
    background-color: rgb(117, 117, 117);
    width: 80% !important;
    transition: 1s
}

.bold {
   font-weight: 500
}

#quotes {
    opacity: 0.1;
    filter: alpha(opacity=40)
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden
}


@media (max-width: 479px) {
    p {
        padding: 0 !important
    }

    .img-1 {
        margin-right: 0 !important
    }
}

